</table>

<div id="checkout-dialog" title="Checkout Item">
    <form id="checkout-form">
    <fieldset>
        <label>User:</label>
        <input type="text" name="checkout_to" id="checkout-to" />
        <input type="hidden" name="item_id" id="checkout-item-id" />
    </fieldset>
    </form>
</div>
</body>

<script src="/_utils/script/json2.js"></script>
<script src="/_utils/script/jquery.js?1.2.6"></script>
<script src="/_utils/script/jquery.couch.js?0.8.0"></script>
<script src="/_utils/script/jquery.cookies.js"></script>
<script src="<%= assets %>/vendor/couchapp/jquery.couchapp.js"></script>
<script src="<%= assets %>/jquery-ui.min.js"></script>
<script type="text/javascript" charset="utf-8">
$.CouchApp(function(app) {
    app.loggedInNow(function(login) {
        // Setup check-in hooks.
        $("a.check-in").live("click", function (event) {
            var docid = this.hash.substr(1),
                checkin_link = $(this),
                checkout_form;
            console.log("checked in: " + docid);
            app.db.openDoc(docid, {
                success: function(doc) {
                    delete doc.checked_out_to;
                    app.db.saveDoc(doc, {
                        success : function(resp) {
                            var status;
                            checkin_link.text("check out")
                                        .removeClass("check-in")
                                        .addClass("check-out");
                            status = checkin_link.parent().nextAll(".status");
                            status.text("in");
                            console.log(doc);
                        }
                    });
                }
            });
            event.preventDefault();
        });

        // Setup check-out hooks.
        checkout_form = $("#checkout-dialog form");

        $("#checkout-dialog").dialog({
            autoOpen: false,
            buttons: {
                "Checkout": function () {
                    var checkout_to = $("#checkout-to").val(),
                        docid = $("#checkout-item-id").val();
                    console.log("checked out " + docid + " to: " + checkout_to);
                    app.db.openDoc(docid, {
                        success: function(doc) {
                            doc.checked_out_to = checkout_to;
                            doc.checked_out_from = login;
                            console.log(doc);
                            app.db.saveDoc(doc, {
                                success : function(resp) {
                                    var checkout_link = $("a[href='#" + docid + "']"),
                                        status;
                                    checkout_link.text("check in")
                                                 .removeClass("check-out")
                                                 .addClass("check-in");
                                    status = checkout_link.parent().nextAll(".status");
                                    status.text("out to " + checkout_to);
                                }
                            });
                        }
                    });
                    $(this).dialog("close");
                },
                "Cancel": function () {
                    console.log("cancel checkout");
                    $(this).dialog("close");
                }
            },
            close: function () {
                checkout_form.find("input").val("");
            }
        });
        checkout_form.submit(function () {
            event.preventDefault();
            return false;
            $(this).parent().parent().find("button:first").click();
        });

        $("a.check-out").live("click", function (event) {
            event.preventDefault();
            var checkout_dialog = $("#checkout-dialog");

            // Close the checkout dialog if it is already open.  This will
            // prepare the dialog to be used for another item.
            if (checkout_dialog.dialog("isOpen")) {
                checkout_dialog.dialog("close");
            }

            $("#checkout-item-id").val(this.hash.substr(1));
            checkout_dialog.dialog("open");
        });
    });
});
</script>
</html>
